{{ partial "header.html" . }}

<header>
{{ partial "navbar.html" . }}
</header>

{{ if .Draft }}
DRAFT
{{ end }}

<div class="content">
	<h1 class="postTitle">{{ .Title }} <aside>{{ range .Params.tags }}<a href="/tags/{{.}}/" class="w3-tag">/{{.}}</a>&nbsp;{{end}} </aside></h1>
	{{ .Content }}
</div>


<footer>
{{ if (eq .Type "posts") }}
	<p><small><em>Written {{ .Date.Format "January 2, 2006"}}. </em>
		{{ end }}
	</small></p>

	<p>
	{{ if .PrevInSection }}<a href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>&nbsp;{{end}}
	{{ if .NextInSection }}<a href="{{ .NextInSection.URL }}" style="float:right;">{{ .NextInSection.Title }} →</a>{{ end }}
	</p>

</footer>




{{ partial "footer.html" . }}
